<div class="post">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <tr>
          <td class="image" rowspan="2">
            <img src="https://pbs.twimg.com/profile_images/645727518889082880/y2j8bSDy_400x400.jpg" class="img img-circle" alt="Mete Kabak">
          </td>
          <td class="name">Mete Kabak</td>
          <td class="save" rowspan="2">
              <i class="fa fa-star-o" aria-hidden="true"></i>
          </td>
        </tr>
        <tr>
          <td class="title">Full-Stack Developer</td>
        </tr>

      </table>
      <h3>
        Before we start, rails with angularjs <small class="new">New</small>
      </h3>
      <p>
        This is going to be blog series, We are going to make an application for home. We will cover these topics accordingly using rails,
        <a target="_blank" href="http://metekabak.me/blog/rails-angular/before-we-start-angularjs-with-rails/">continue reading..</a>
      </p>

    </div>
  </div>
</div>
